
html {
  // Correct the line height in all browsers
  line-height: 1.15;
  
  // Change from `box-sizing: content-box`
  box-sizing: border-box;
  
  // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  // Setting @viewport causes scrollbars to overlap content in IE11 and Edge
  -ms-overflow-style: scrollbar;
  
  // Change the default tap highlight to be completely transparent in iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // Remove the margin in all browsers (opinionated)
  margin: 0;
}

main,
details {
  // Add the correct display in IE
  display: block;
}

summary {
  // Add the correct display in all browsers
  display: list-item;
}

template {
  // Add the correct display in IE
  display: none;
}

[tabindex="-1"]:focus {
  // Suppress the focus outline on elements that cannot be accessed via keyboard.
  // This prevents an unwanted focus outline from appearing around elements that
  // might still respond to pointer events.
  //
  // Credit: https://github.com/suitcss/base
  outline: none !important;
}

[hidden] {
  // Always hide an element with the `hidden` HTML attribute.
  // Needed for proper display in IE 10-
  // 
  // Credit: https://purecss.io/
  display: none !important;
}

a,
area,
input,
label,
select,
button,
summary,
textarea,
[role="button"], {
  // Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
  //
  // In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
  // DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
  // However, they DO support removing the click delay via `touch-action: manipulation`.
  // See:
  // * https://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
  // * https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
  // * https://medium.com/@adactio/delay-a9df9edceef3
  // * http://caniuse.com/#feat=css-touch-action
  touch-action: manipulation;
}
